<!DOCTYPE html>
<html>
    <div>
        <ul>
            <li><%= link_to "Taskks", taskks_path %></li>
            <li><%= link_to "Task Lists", task_lists_path %></li>
        </ul>
    </div>
</html>
